@{
    ViewData["Title"] = "Oferta";
}

<section class="container section">
  <h1 class="h3">Oferta</h1>
  <p class="text-muted">Strona w przygotowaniu. Wkrótce szczegóły naszej oferty.</p>
</section>

